{% extends "Blog/base.html" %}

{% block title %} Blog...{% endblock %}

{% block body %}
    <div class="container">
        <h1> {{post.title}} </h1>
        <p class="font-italic text-success"> Published on {{post.publish}} by {{post.author|title}} </p>
        <p> {{post.body|linebreaks}} </p>
        <a href="/{{post.id}}/share" class="btn btn-lg btn-danger"> Share Post by Email </a>

        {% with comments.count as comment_count %}
            <h2 class="mt-3 text-warning">{{comment_count}} Comment{{comment_count|pluralize}}</h2>
        {% endwith %}

        {% if comments %}
            {% for comment in comments %}
                <p class="mb-1 mt-3 text-primary font-weight-bold">Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
                <p class="ml-2 text-success font-weight-bold">👍<span class="ml-2 text-success font-italic">{{comment.body}}</span></p>
                <hr class="bg-warning">
            {% endfor %}
        {% else %}
        <p class="ml-2 text-success font-weight-bold">😥<span class="ml-2 text-success font-italic">There are no Comments Yet.. </span></p>
        {% endif %}

        {% if csubmit %}
            <h2 class="text-danger mb-5">👏Your Comment Added Successfully</h2>
        {% else %}
        <h3 class="text-danger font-italic">Add Your Own Comment Here Below.</h3>
            <form method="post">
                {% csrf_token %}
                <div class="container row">
                    <div class="container mt-3 col-md-6">
                        <label for="id_name" class="ml-2 mr-3 text-success font-weight-bold">Name :</label><br>{{form.name}}
                    </div>
                    <div class="container mt-3 col-md-6">
                        <label for="id_email" class="ml-2 text-success font-weight-bold">Email :</label><br>{{form.email}}
                    </div>
                </div>
                <div class="container row">
                    <div class="container col-md-12">
                        <label for="id_body" class="ml-2 mr-3 text-success font-weight-bold align-content-center">Comment :</label><br>
                        {{form.body}}
                    </div>
                    
                </div>
                <button type="submit" class="mr-5 mt-2 mb-5 btn btn-outline-success float-right">Submit Comment </button>            
            </form>
        {% endif %}
    </div> 
    
{% endblock %}

